body {
    margin: 0;
    padding: 0;
    font-family: "Lato";
}
a {
    color: black;
    text-decoration: none;
}
p {
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.block_inner {
    max-width: 1370px;
    width: 100%;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

header {
    position: relative;
}
.main_header {
    display: flex;
    align-items: center;
}
.logo_wrap {
    width: 80px;
    margin-right: 135px;
}
.nav_main {
    display: flex;
}
.nav_main-item {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-family: Lato;
    font-size: 19px;
    line-height: 25px;
    display: inline-block;
    padding: 30px 35px;
}
.buttons_main {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.sign_in-button {
    display: inline-block;
    border: none;
    font-size: 20px;
    background: transparent;
    margin-right: 35px;
}
.start_trial-button {
    background: #01996d;
    border-radius: 4px;
    color: white;
    border-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    padding: 13px 50px;
}
.block-main {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 895px;
}
.text_main-wrapper {
    max-width: 440px;
    width: 100%;
    padding-top: 175px;
}
.be_aware-text {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 74px;
    color: #01996d;
    margin-bottom: 30px;
}
.text_black {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #484848;
    margin-bottom: 50px;
}
.find_your_way-button {
    padding: 20px 50px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: white;
    background: #01996d;
    border: 1px solid #01996d;
    border-radius: 4px;
}
.img_block {
    padding-top: 170px;
    padding-bottom: 50px;
}
.text_block {
    display: flex;
    margin-bottom: 50px;
}
.how_text-block {
    max-width: 50%;
    display: block;
    flex-grow: 1;
}
.how {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #424242;
}
.understand_text {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996d;
    margin: auto;
}
.img_text-black {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #424242;
    position: relative;
    display: flex;
}
.offers-block {
    display: block;
    max-width: 50%;
    padding-top: 58px;
    flex-grow: 1;
}
.pictures_block {
    display: flex;
    column-gap: 95px;
}
.number_block {
    display: inline-block;
    flex-grow: 1;
}
.number_block-head {
    position: relative;
}

.first_block {
    margin: auto;
}
.image_title {
    font-family: Georgia;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    z-index: 1;
    margin: auto;
    position: absolute;
}
.number {
    z-index: 0;
    position: relative;
}